@using BookAnArtisanMVC.ServiceReference
@model BookAnArtisanMVC.Models.IndexViewModel<Material>

@{
    ViewBag.Title = "Alle materialer";
    var modelList = Model.Pager.PageList;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Opret", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => modelList[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => modelList[0].Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => modelList[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => modelList[0].Condition)
        </th>
        <th>
            @Html.DisplayNameFor(model => modelList[0].Available)
        </th>
        <th></th>
    </tr>

    @foreach (var item in modelList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.ActionLink("Book", "CreateById", "Bookings", new { id = item.Id, item.Name }, null) |
                @Html.ActionLink("Redigér", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                @Html.ActionLink("Slet", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.Partial("_Pagination")