@model BookAnArtisanMVC.Models.IndexViewModel<BookAnArtisanMVC.ServiceReference.Meeting>

@{
    ViewBag.Title = "Index";
    var meetingList = Model.Pager.PageList;
}

<h2>Alle møder</h2>

<p>
    @Html.ActionLink("Opret ny", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => meetingList[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => meetingList[0].Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => meetingList[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => meetingList[0].StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => meetingList[0].EndTime)
        </th>
    </tr>

@foreach (var item in Model.Pager.PageList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.ActionLink("Redigér", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |
            @Html.ActionLink("Slet", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
@Html.Partial("_Pagination")