@model BookAnArtisanMVC.Models.IndexViewModel<BookAnArtisanMVC.ServiceReference.Booking>

@{
    ViewBag.Title = "Index";
    var bookingList = Model.Pager.PageList;
}

<h2>Alle udlejninger</h2>

<p>
    @Html.ActionLink("Opret ny", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => bookingList[0].Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => bookingList[0].User)
        </th>
        <th>
            @Html.DisplayNameFor(model => bookingList[0].StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => bookingList[0].EndTime)
        </th>
    </tr>

@foreach (var item in Model.Pager.PageList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.ActionLink("Redigér", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |
            @Html.ActionLink("Slet", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
@Html.Partial("_Pagination")